
custom_css = """
.css-1tlyq77
body {
    background-color: #b0d01e;
    color: #b0d01e;
    font-family: ;
  }
  
  .stApp {
    background-color: #b0d01e ; /* secondaryBackgroundColor */
  }


  .stButton > button {
    background-color: #f6f8ec; /* primaryColor */
    .rc-slider-track {
        background-color: #f6f8ec!important;
    }
  }

"""

